<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">LUAD</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="{{ "/strength.html" | relative_url }}">Phenotype Replicability</a></li>
      <li><a href="{{ "/umap.html" | relative_url }}">UMAP</a></li>
      <li><a href="{{ "/impact.html" | relative_url }}">Impact Test</a></li>
      <li><a href="{{ "/directionality.html" | relative_url }}">Directionality Test</a></li>
      <li><a href="{{ "/sparkler.html" | relative_url }}">Sparkler Plots</a></li>
      <li><a href="{{ "/function.html" | relative_url }}">Functional Classification</a></li>
      <li><a href="{{ "/clustermap.html" | relative_url }}">Clustermap</a></li>
    </ul>
  </div>
</nav>
