<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Luad</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="{{ "directionality.html" | relative_url }}">Impact</a></li>
      <li><a href="{{ "function.html" | relative_url }}">Functional classification</a></li>
      <li><a href="{{ "directionality.html" | relative_url }}">Directionality</a></li>
      <li><a href="{{ "sparkler.html" | relative_url }}">Sparkler</a></li>
      <li><a href="{{ "strength.html" | relative_url }}">Strength</a></li>
      <li><a href="{{ "umap.html" | relative_url }}">UMAP</a></li>
    </ul>
  </div>
</nav>
