<ul class="collapsible">
    {% for gene in site.data.navigation %}
    <li>
      <div class="collapsible-header">{{ gene.name }}</div>
      <div class="collapsible-body">
        <div class="collection">
        {% for variant in gene.variants %}
        <a href="{{ "variants" | relative_url }}/{{ variant.name }}/" class="collection-item">{{ variant.name }}</a>
        {% endfor %}
        </div>
    </li>
    {% endfor %}
  </ul>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
