<div class="input-field col s12">
  <input type="text" id="autocomplete-input" class="autocomplete", placeholder="Find a variant...">
</div>
<ul class="collapsible">
    {% for gene in site.data.navigation %}
    <li class="{% if page.url contains gene.name %}active{% endif %}">
      <div class="collapsible-header">{{ gene.name }}</div>
      <div class="collapsible-body">
        <div class="collection">
        {% for variant in gene.variants %}
        <a href="{{ "/variants" | relative_url }}/{{ variant.name }}/"
           class="collection-item {% if page.url contains variant.name %}active{% endif %}">
           {{ variant.name }}
        </a>
        {% endfor %}
        </div>
    </li>
    {% endfor %}
  </ul>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });
$(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
    {% for gene in site.data.navigation %}
        {% for variant in gene.variants %}
        "{{ variant.name }}": null,
        {% endfor %}
    {% endfor %}
          },
      onAutocomplete: () => {
        location.href = "{{ "/variants/" | relative_url }}" + $('#autocomplete-input')[0].value
      }
    });
  });
</script>
